**/*.onnx
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
.git/
.gitignore
README.md
Dockerfile*
tests/
logs/
onnx/
.pytest_cache/
.coverage
*.log
.env*
.venv/
venv/
env/
*.md
*.txt
!app/requirements.txt
clean_proj.bat
app/config/appsettings.development.json